body {
    background-color: #F4F4F9;
}

.Header {
    color: #000000;
    font-size: 30px;
    font-family: "SF Pro Display", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.Paragraph {
    color: Black;
    font-size: 1rem;
    font-family: "SF Pro Display", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.Pages {
    margin-right: 10px;
    margin: 10px;
}